<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{% include 'layouts/head.html' %}
<!-- /Head -->
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    {% include 'layouts/header.html' %}
    <!-- /Header -->

    <!-- Sidebar -->
    {% include 'layouts/sidebar.html' %}
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-title">Add Role</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->

                    <!-- Flash Messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('roles.role_add') }}" method="post">
                        <div class="form-group">
                            <label>Role Name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit">Add Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<!-- Bootstrap Core JS -->
<script src="{{ url_for('static', filename='assets/js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>

</body>
</html>
